[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymssql = "*"
numpy = "*"
ipdb = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
